@charset "uft-8";

.life_pre_wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1146px;
    height: 2484px;
    margin: 0 auto;
}

.life_pre_inner {
    margin-top: 127px;
    max-width: 636px;
    text-align: center;
    width: 100%;
    height: 478px;
    border-radius: 40px;
    background-color: #FFFCEE;
}



.life_mk_img img {
    padding-top: 50px;
    max-width: 536px;
    width: 86%;
    height: 81%;
    object-fit: cover;
}

.life_jg_pc {
    text-align: center;
    padding-top: 100px;
}

.life_jg_pc img {
    width: 449px;
}

.life_memo {
    margin-top: 127px;
    width: 384px;
    height: 1131px;
    border-radius: 40px;
    border: 3px solid #FFD63A;
    background-color: #FFFCEE;
}