@charset "uft-8";

body {
    background-color: #FCF7E0;
}

.Header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


}

.pcnav {
    width: 723px;
    height: 86px;
    background-color: #FFFCEE;
    border-radius: 43px;
}

.pcnav ul {
    display: flex;
    justify-content: space-between;
    padding: 0 92px;
}

.pcnav ul li {
    font-size: 18px;
    font-weight: 800;
    color: #72716E;

}